
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    font-family:sans-serif;
}

.flex{
    display: flex;
}

.flex-centrato{
    display: flex;
    justify-content: center;.
    align-items: center;
}

ul{
    list-style-type: none;
}

.button{
    border-radius: 80px;
    border: solid transparent;
    
}

header{
    color: white;
}

main{
    padding: 2rem;
}

.column{
    padding: 2.5rem;

}

.waves{
    height: 100px;
   filter: opacity(0.04);
   background-image: url(../img/wave.svg);

}

.upside-down{
    transform: rotateX(0.5turn);
}

/*style upper*/

.upper{
    background-color: #255ee9;
    padding: 1.5rem 6rem;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    margin: .5rem;
}

.button-upper{
    border-color: transparent;
    background-color: white;
    padding: .4rem .5rem;
    font-size: inherit;
}

/*style jumbotron*/

.jumbotron{
    padding: 5rem 16rem;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header h1{
    font-size: 2.5rem;
    padding-bottom: 2.5rem;

}

header p{
    font-size: 1.2rem;
    line-height: 2rem;
}

.button-jumbotron{
    border-color: transparent;
    background-color: white;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    margin: 1rem;
   
}

.button-jumbotron-1{
    border-color: transparent;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    margin: 1rem;
   
}

/*COSTUM MAIN*/

main{
    padding-bottom: 0rem;
}


.invito{
    padding: 5rem; 
}

main h1{
    font-size: 3rem;
    padding: 2rem;;
}

main p{
    font-size: 1.2rem;
 
}

main h2{
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-image: url(../img/stars.svg);
    background-size:cover;
}

/*style section main*/

.dove-trovarsi{
    background-color: hsl(0deg 0% 96.47%);
    padding: 5rem; 
}

.tecnologia{
    flex-direction: column;
    padding: 0rem 5rem;
    text-align: center;
    background-color: hsl(0deg 0% 96.47%);

}

.violet-button{
    border-color: transparent;
    background-color: rgb(114 137 218);
    padding: 1rem 1rem;
    font-size: 1.2rem;
    margin: 1rem;   
}

/*COSTUM FOOTER*/

footer{
    flex-direction: column;
    background-color:rgb(35 39 42);
    color: white;
    padding: 2rem 5rem;
}

div.footer-social{
    justify-content: space-between;
    padding-bottom: 2rem;
}


.social{
    flex-direction: column;
}

.social-brand{
    padding: 1rem;
}
footer section.social>h1{
    font-size: 2rem;
    padding: .5rem;
    color: rgb(114 137 218);
}
div.ita{
    flex-direction: row;
    align-items: stretch;  
}

footer section.social div.ita>img{
    width: 1rem;
    vertical-align: middle;
}

footer section.social>h3{
    padding: .5rem;
    color: rgb(114 137 218);
}

footer section.social nav ul >li{
    padding: .5rem
}

footer div.logo-footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    border-top: solid  rgb(114 137 218);
}

footer div.logo-footer>input{
    background-color: rgb(114 137 218);
    color: white;
    padding: 1rem;
}

