
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    font-family:sans-serif;
}

.flex{
    display: flex;
}

.flex-centrato{
    display: flex;
    justify-content: center;.
    align-items: center;
}

ul{
    list-style-type: none;
}

.button{
    border-radius: 80px;
    border: solid transparent;
    
}

header{
    color: white;
}

.column{
    padding: 2.5rem;

}






.upper{
    background-color: #255ee9;
    padding: 1.5rem 6rem;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    margin: .5rem;
}

.button-upper{
    border-color: transparent;
    background-color: white;
    padding: .4rem .5rem;
    font-size: inherit;
}

.jumbotron{
    padding: 5rem 16rem;
    text-align: center;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header h1{
    font-size: 2.5rem;
    padding-bottom: 2.5rem;

}

header p{
    font-size: 1.2rem;
    line-height: 2rem;
}

.button-jumbotron{
    border-color: transparent;
    background-color: white;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    margin: 1rem;
   
}

.button-jumbotron-1{
    border-color: transparent;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 1rem;
    margin: 1rem;
   
}






.invito{
    padding: 5rem;
   
    
}

.dove-trovarsi{
    padding: 5rem;
   
}

.fandom{
    
}

.tecnologia{
    flex-direction: column;
    padding: 2.5rem 10rem;
    text-align: center;
}

footer{
    background-color: gray;
    padding: 2rem 5rem;
    justify-content: space-around;
}

.social{
    flex-direction: column;
}
